@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layout-header {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.layout-header a {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  font-weight: bold;
  color: #ddd6cb;
  text-decoration: none;
}

.layout-header a.active {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
